main {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  justify-content: center;
}

select {
  border-radius: 30px;
  height: 35px;
  text-align: center;
  background-color: white;
  width: min-content;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  margin-bottom: 1rem;

  img {
    width: 300px;
    margin-right: 1rem;
    border-radius: 8px;
  }

  .card__content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h3 {
      margin: 0;
      padding: 0;
    }

    .bottom {
      font-weight: bold;
    }
  }
}
